/**
 * sTable整体样式，可以通过前缀来自定义某个列表的样式
 * @author guanwei
 */

.my-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 80%;
    /**
     * 表头样式 TableHeader
     */
    /**
     * 表足样式 TableFooter
     */
    /**
     * 表身样式 TableBody
     */
    /**
     * 表身中tr hover变色样式
     */
    /**
     * 子表格样式，注意此类嵌入到tr中
     */
    /**
     * 折叠icon样式
     */
    /**
     * 折叠icon样式（hover）
     */
    /* 可排序icon */
}
.my-table .my-table-header tr {
    background-color: #d4d0c7;
}
.my-table .my-table-header th {
    border: 1px solid silver;
    text-align: left;
    /*vertical-align: middle;*/
    
    height: 35px;
    padding: 0 4px;
}
.my-table .my-table-footer tr {
    background-color: #D4D0C8;
}
.my-table .my-table-footer td {
    border: 1px solid silver;
    text-align: left;
    /*vertical-align: middle;*/
    
    height: 35px;
    padding: 0 4px;
}
.my-table .my-table-body tr {
    background-color: #fff;
}
.my-table .my-table-body td {
    border: 1px solid silver;
    text-align: left;
    /*vertical-align: middle;*/
    
    height: 40px;
    padding: 0 4px;
}
.my-table .my-table-trhover {
    background-color: #aff4f7 !important;
}
.my-table .my-table-subtr {
    background-color: #E7ECEE !important;
}
.my-table .my-table-subtr td {
    border: 1px solid silver;
    text-align: left;
    /*vertical-align: middle;*/
    
    height: 20px;
}
.my-table .sub-table-icon {
    cursor: pointer;
    display: inline-block;
    font-size: 90%;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    line-height: 12px;
    position: absolute;
    top: 0;
    left: 0;
}
.my-table .sub-table-icon-outer {
    color: #818181;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #818181;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    /* 设置左偏移*/
    
    right: 15%;
    text-align: center;
    margin-top: -5px;
}
.my-table .sub-table-icon-outer:hover {
    color: #fff;
    background-color: #D4D0C8;
    -webkit-animation: subTableIconOuterHover 0.5s linear infinite alternate;
    -webkit-transform-origin: 0% 0%;
    -moz-animation: subTableIconOuterHover 0.5s linear infinite alternate;
    -moz-transform-origin: 0% 0%;
    animation: subTableIconOuterHover 0.5s linear infinite alternate;
    transform-origin: 0% 0%;
}
@-webkit-keyframes subTableIconOuterHover {
    0% {
        color: #818181;
        background-color: #fff;
    }
    100% {
        color: #fff;
        background-color: #D4D0C8;
    }
}
@-moz-keyframes subTableIconOuterHover {
    0% {
        color: #818181;
        background-color: #fff;
    }
    100% {
        color: #fff;
        background-color: #D4D0C8;
    }
}
@keyframes subTableIconOuterHover {
    0% {
        color: #818181;
        background-color: #fff;
    }
    100% {
        color: #fff;
        background-color: #D4D0C8;
    }
}
.my-table .sortable-icon-container {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    /* 设置左偏移*/
    
    right: 10px;
    margin-top: -10px;
}
.my-table .sort-up-icon {
    cursor: pointer;
    width: 0px;
    height: 0px;
    display: inline-block;
    position: absolute;
    border: 5px solid #ccc;
    border-bottom-color: #eee;
    font-size: 0;
    top: -1px;
    left: 0;
}
.my-table .sort-up-icon:hover {
    border-bottom-color: #272822;
}
.my-table .sort-down-icon {
    cursor: pointer;
    width: 0px;
    height: 0px;
    display: inline-block;
    position: absolute;
    border: 5px solid #ccc;
    border-top-color: #eee;
    font-size: 0;
    bottom: -1px;
    left: 0;
}
.my-table .sort-down-icon:hover {
    border-top-color: #272822;
}
.my-table .sort-up-icon-selected {
    border-bottom-color: #272822;
}
.my-table .sort-down-icon-selected {
    border-top-color: #272822;
}
/* 设置Chrome下的checkbox样式 */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .my-table input[type="checkbox"] {
        bottom: 2px;
        cursor: pointer;
        height: 15px;
        vertical-align: middle;
        width: 15px;
        position: relative;
        -webkit-appearance: none;
        -webkit-user-select: none;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
        margin: 0 1px 0 0;
    }
    /* 画对勾 */
    
    .my-table input[type="checkbox"]:checked::before {
        position: absolute;
        left: 2px;
        top: 5px;
        content: '';
        height: 3px;
        background-color: #666;
        width: 95%;
        -webkit-transform: rotate(120deg);
    }
    .my-table input[type="checkbox"]:checked::after {
        position: absolute;
        left: 0;
        top: 7px;
        content: '';
        height: 3px;
        width: 5px;
        background-color: #666;
        -webkit-transform: rotate(-150deg);
    }
}
